footer div{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 150px;
    background-color: #0D2A33;
  }
  footer h6 a{
    text-decoration: none;
    color: rgb(52,232,180);
  }
  footer .contactarse{
   width: 300px;
  }
  footer img{
    height:100px; 
    width:auto;
  }
